h1 {
  text-align: center;
}

img {
  margin-left: 8%;
  margin-top: 4%;
  width: 45%;
}

.centered-image {
  width: 50%;
  height: auto;
  margin: auto;
  display: block;
}

@media screen and (min-width: 1025px) {
  .column  {
    float: right;
    width: 18%;
    margin-right: 8%;
    margin-top: 4%;
  }
}

@media screen and (max-width: 1024px) {
  body {
    background-color: teal;
  }
  img {
    width: 40%;
    height: auto;
    margin: auto;
    padding: 2%;
    display: block;
  }
  .column {
    width: 33%;
    text-align: center;
    margin: auto;
  }  
}

.column a {
  font-style: italic;
  color: aquamarine;
  background-color: black;
}